@page
@model TaskManager.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="center">New Project</h4>
<hr />
<div class="subcol narrow">

    <form method="post">
        <div class="subform-grn widen-mobile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" maxlength="300"/>
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="sub-mit widen-mobile">
            <input type="submit" value="Create" class="my-btn3-grn sizing" />
        </div>
    </form>
    <div class="sizing sub-back widen-mobile">
        <a class="my-btn3-back" asp-page="/Projects/Index">Back to Project Page</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
