@page
@model TaskManager.Pages.Projects.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="center">Are You Sure You Want to Delete this?</h2>
<hr />

<div class="subcol narrow">
    <div class="subform-red">
        <h4 class="center">@Model.Project.Title</h4>

        <p>Owned By: @Html.DisplayFor(model => model.Project.Owner)</p>
    </div>
    <form method="post">
        <div class="sub-mit">
            <input class="my-btn3-dlt sizing" type="submit" value="Delete" />
        </div>
    </form>
    <div class="sizing sub-back">
        <a class="my-btn3-back" asp-page="/Projects/Details" asp-route-id=@Model.Project.ProjectID>Back to Information Page</a>
    </div>
</div>