@page
@model TaskManager.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="center">Project Information</h2>
<hr />

<div class="subcol narrow">
    <div class="subform-ylw">
        <h4 class="center">@Model.Project.Title</h4>

        <p>Owned By: @Html.DisplayFor(model => model.Project.Owner)</p>
    </div>
    <div class="sub-mit">
        <a class="my-btn3-dlt sizing" asp-page="/Projects/Delete" asp-route-id=@Model.Project.ProjectID>Delete</a>
    </div>
    <div class="sizing sub-back">
        <a class="my-btn3-back" asp-page="/Projects/TaskManagement" asp-route-id=@Model.Project.ProjectID>Back to Project Page</a>
    </div>
</div>
