@page
@model TaskManager.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Project Collection";
}

<h2 class="center">Your Projects</h2>
<a class="my-btn2" asp-page=Create>Create New</a>
<table class="table">
    <tbody>
        @foreach (var item in Model.Project)
        {

            <tr class="alt-row-color">

                <td>
                    <a class="my-btn" asp-page="./TaskManagement" asp-route-id="@item.ProjectID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br /><br /><br />
<h2 class="center">Affiliated Projects</h2>
<table class="table">
    <tbody>
        @foreach (var item in Model.Member)
        {
            <tr class="alt-row-color">
                <td>
                    <a class="my-btn" asp-page="./TaskManagement" asp-route-id="@item.ProjectID">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                </td>
            </tr>
        }
    </tbody>
</table>