@page
@model TaskManager.Pages.Projects.Taskings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="center">Add Task</h4>
<hr />
    <div class="subcol">
    </div>
    <form method="post">
        <div class="subform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tasking.TaskTitle" class="control-label"></label>
                <input asp-for="Tasking.TaskTitle" class="form-control" />
                <span asp-validation-for="Tasking.TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tasking.Description" class="control-label"></label>
                <textarea asp-for="Tasking.Description" class="form-control"></textarea>
                <span asp-validation-for="Tasking.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Tasking.Severity">
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Tasking.Progression">
                    <option value="0">Created</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                </select>
        </div>
            </div>
        <div class="sub-mit">
            <input type="submit" value="Create" class="my-btn3 sizing" />
        </div>
    </form>
<div class="sizing sub-back">
    <a class="my-btn3-back" asp-page="/Projects/TaskManagement" asp-route-id=@ViewBag.ProjectID>Back to Project Page</a>
</div>
</div>
<br /><br /><br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
