@page
@model TaskManager.Pages.Projects.Taskings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="center">Edit Task</h4>
<hr />
<div class="subcol narrow">
    <form method="post">
        <div class="subform-ylw">
            <div class="form-group">
                <label class="control-label">Title</label>
                <input asp-for="Tasking.TaskTitle" class="form-control" />
                <span asp-validation-for="Tasking.TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tasking.Description" class="control-label"></label>
                <textarea asp-for="Tasking.Description" class="form-control"></textarea>
                <span asp-validation-for="Tasking.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Severity
                <select asp-for="Tasking.Severity">
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                </select>
            </div>
            <div class="form-group">
                Progression
                <select asp-for="Tasking.Progression">
                    <option value="0">Created</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Assign To</label>
                <select asp-for="Tasking.Assignment" asp-items="ViewBag.Members"></select>
            </div>
        </div>
        <div class="sub-mit">
            <input type="submit" value="Save" class="my-btn3 sizing" />
        </div>
    </form>
    <div class="sizing sub-back">
        <a class="my-btn3-back" asp-page="./Details" asp-route-id="@Model.Tasking.TaskingID">Back to Information Page</a>
    </div>
</div>
<br /><br /><br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
