@page
@model TaskManager.Pages.Projects.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="subcol narrow">
    <form method="post">
        <div class="subform-ylw">
            <div class="form-group">
                Role
                <select asp-for="Member.IsOwner">
                    <option value="0">Member</option>
                    <option value="2">Elevated</option>
                </select>
            </div>
        </div>
        <div class="sub-mit">
            <input type="submit" value="Save" class="my-btn3 sizing" />
        </div>
    </form>
    <div class="sizing sub-back">
        <a class="my-btn3-back" asp-page="./Details" asp-route-id=@Model.Member.MemberID>Back to Information Page</a>
    </div>
</div>
<br />
<br />
<br />

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
