@page
@model TaskManager.Pages.Projects.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="subcol narrow">
    <form method="post">
        <div class="subform-ylw">
            <div class="form-group">
                @Html.DisplayFor(model => model.Member.MemberID)
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Member.Email" class="form-control" />
                <span asp-validation-for="Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                Role
                <select asp-for="Member.isOwner">
                    <option value="2">Elevated</option>
                    <option value="0">Member</option>
                </select>
            </div>
        </div>
        <div class="sub-mit">
            <input type="submit" value="Save" class="my-btn3 sizing" />
        </div>
    </form>
    <div class="sizing sub-back">
        <a class="my-btn3-back" asp-page="./Details" asp-route-id="@Model.Member.MemberID">Back to Information Page</a>
    </div>
</div>
<br />
<br />
<br />

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
