@page
@model TaskManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="blog-red">

    <h3 class="center">Are you sure you want to delete "@Html.DisplayNameFor(model => model.Blog.Title)"?</h3>

        <form method="post">
            <input type="hidden" asp-for="Blog.BlogID" />
            <input type="submit" value="Delete" class="my-btn8 floatright" />
            <a class="my-btn7 floatleft" asp-page="./Details" asp-route-id="@Model.Blog.BlogID" asp-route-pageIndex="1">Back to Post</a>
        </form>
</div>